<footer>
  <div class="sponsors">
    <a target="_black" href="https://www.ea.com/en-gb/games/ea-sports-fc"
      ><div class="sponsor">
        <img src="assets/img/sponsors/eafc.webp" alt="" />
        <p>Lead Partner</p>
      </div>
    </a>
    <a target="_black" href="https://home.barclays/"
      ><div class="sponsor">
        <img src="assets/img/sponsors/barclays.webp" alt="" />
        <p>Official Bank</p>
      </div>
    </a>
    <a target="_black" href="https://www.budweiser.com/en"
      ><div class="sponsor">
        <img src="assets/img/sponsors/bud.webp" alt="" />
        <p>Official Beer</p>
      </div>
    </a>
    <a
      target="_black"
      href="https://www.castrol.com/en_gb/united-kingdom/home.html"
      ><div class="sponsor">
        <img src="assets/img/sponsors/castrol.webp" alt="" />
        <p>Official Engine Oil Partner</p>
      </div>
    </a>
    <a target="_black" href="https://sport.averydennison.com/"
      ><div class="sponsor">
        <img src="assets/img/sponsors/ad.webp" alt="" />
        <p>Official Licensee</p>
      </div>
    </a>
    <a target="_black" href="https://www.hublot.com/en-int?country=RS"
      ><div class="sponsor">
        <img src="assets/img/sponsors/hublot.webp" alt="" />
        <p>Official Timekeeper</p>
      </div>
    </a>
    <a
      target="_black"
      href="https://www.nike.com/gb/w/mens-premier-league-accessories-equipment-2spkszawwpwznik1"
      ><div class="sponsor">
        <img src="assets/img/sponsors/nike.webp" alt="" />
        <p>Official Ball</p>
      </div>
    </a>
    <a target="_black" href="https://www.oracle.com/premier-league/"
      ><div class="sponsor">
        <img src="assets/img/sponsors/oracle.webp" alt="" />
        <p>Official Cloud Partner</p>
      </div>
    </a>
  </div>

  <div class="copyright">
    <div class="logo">
      <span>© Premier </span>
      <img src="assets/img/pl-main-logo.png" alt="" />
      <span> League 2023</span>
    </div>
  </div>
</footer>
