@import url("https://fonts.cdnfonts.com/css/premier-sans");

.loading {
    height: 65dvh;
    display: flex;
    align-items: center;
    justify-content: center;

    .loading-react {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.error {
    padding-top: 10px;
    padding-bottom: 10px;
    color: red;
    font-weight: 600;
}

.main {
    background-image: url("../../assets/img/background.webp");
    background-size: cover;
    background-position: 10%;
    padding-top: 300px;
    padding-bottom: 300px;

    .form {
        margin-left: 37%;
        margin-right: 37%;
        border-radius: 6%;
        box-shadow: 0 0 8px 0 #e2e2e2;
        padding: 30px;
        background-color: white;

        .form-group {

            .error-form {
                display: flex;
                align-items: center;
                gap: 5px;
            }

            h2 {
                text-align: center;
                font-family: "Premier Sans", sans-serif;
                font-size: 3.125rem;
            }

            label {
                font-family: "Premier Sans", sans-serif;
                font-size: 1.875rem;
            }

            .form-control:focus {
                box-shadow: 0 0 0 1px var(--color-purple-second);
                border-color: var(--color-purple-second);
            }

            .form-check-label {
                font-size: 1.125rem;
            }

            .showPasswordSignIn {
                margin-top: 5px;
                padding-left: 0;
            }
        }

        .button-wrapper {
            .my-button {
                font-family: "Premier Sans", sans-serif;
                font-size: 1.875rem;
                background-color: var(--color-purple-second);
                transition: all 0.2s ease-in-out;
                --bs-btn-border-color: white;
                --bs-btn-hover-border-color: white;
                --bs-btn-active-bg: var(--color-purple-second);
                --bs-btn-active-border-color: var(--color-purple-second);
            }

            .my-button:hover {
                transform: scale(1.1);
            }
        }


        .signUp {
            display: flex;
            flex-direction: row;
            gap: 6px;
            margin-top: 15px;

            p {
                margin: 0;
            }

            span {
                color: var(--color-purple-second);
                text-decoration: none;
                font-weight: bold;
                cursor: pointer;
            }
        }

        .orLoginWith {
            text-align: center;
            overflow: hidden;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .orLoginWith::before,
        .orLoginWith::after {
            content: "";
            position: relative;
            display: inline-block;
            width: 50%;
            height: 1px;
            background: linear-gradient(93.93deg,
                    #05f0ff 1.12%,
                    #7367ff 63.34%,
                    #963cff 82.72%);
            vertical-align: middle;
        }

        .orLoginWith::before {
            right: 1rem;
            margin-left: -50%;
        }

        .orLoginWith::after {
            left: 1rem;
            margin-right: -50%;
        }

        .socials {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 30px;

            img {
                cursor: pointer;
                width: 40px;
                transition: all 0.2s ease-in-out;
            }

            img:hover {
                transform: scale(1.4);
            }
        }
    }
}

@media (max-width: 1350px) {
    .main {
        .form {
            margin-left: 30%;
            margin-right: 30%;
        }
    }
}

@media (max-width: 860px) {
    .main {
        .form {
            margin-left: 20%;
            margin-right: 20%;
        }
    }
}

@media (max-width: 575px) {
    .main {
        padding: 100px 0;

        .form {
            margin-left: 0%;
            margin-right: 0%;
        }
    }
}