@import url("https://fonts.cdnfonts.com/css/premier-sans");

.user-info {
    margin-bottom: 20px;
    margin-top: 1.5rem;
    padding: 12px 10px;
    height: 300px;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: 0px center, right top, 0px center;
    background-image: linear-gradient(rgba(255, 255, 255, 0) 10px, rgba(255, 255, 255, 0.2) 30px, white 75px), url(../../assets/img/pattern.png), linear-gradient(to right, rgb(2, 239, 255), rgb(98, 123, 255));
    box-shadow: rgba(107, 107, 107, 0.08) 0px 8px 12px 0px;
    overflow: auto;
    color: var(--color-purple-second);

    .info-wrapper {
        display: flex;
        justify-content: space-between;

        .names-wrapper {
            .user-name {
                margin: 0;
                font-size: 0.9rem;
            }

            .team-name {
                margin: 0;
                font-size: 1.4rem;
                font-weight: 700;
            }
        }

        img {
            margin-top: 5px;
            height: 30px;
            border: 1px solid black;
        }
    }

    .headline-wrapper {
        margin-top: 20px;
        padding-bottom: 10px;
        border-top: 1px solid rgb(226, 225, 225);

        .control-headline {
            padding: 0.2rem 1rem;
            border-radius: 0px 0px 1rem 1rem;
            background-color: var(--color-purple);
            border-top: 1px solid;
            border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(239, 239, 239) 50%, rgba(255, 255, 255, 0) 100%);
            border-image-slice: 1;
            width: 125px;

            .gameweek {
                background-image: linear-gradient(to right, rgb(0, 255, 135), rgb(2, 239, 255));
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 600;
                font-size: 0.85rem;
            }
        }
    }

    .overall,
    .overall-gw {
        padding: 8px 0;
        font-size: 0.95rem;
        border-top: 1px solid rgb(226, 225, 225);
        display: flex;
        justify-content: space-between;
    }

    .overall-gw {
        border-bottom: 1px solid rgb(226, 225, 225);
    }
}