@import url("https://fonts.cdnfonts.com/css/premier-sans");

.page-wrapper-history {
    margin: 0 10%;

    .left-side {
        .title-history {
            position: relative;
            display: flex;
            align-items: flex-end;
            height: 70px;
            color: var(--color-purple-second);
            font-size: 1.7rem;
            font-weight: 700;
            padding-left: 10px;
            gap: 5px;

            p {
                margin: 0;
            }
        }

        .title-history::before {
            display: none;
            content: "";
            position: absolute;
            height: 1px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(239, 239, 239) 50%, rgba(255, 255, 255, 0) 100%);
        }

        .table-wrapper {


            table {
                margin-top: 10px;
                width: 100%;

                thead {
                    border-bottom: 1px solid rgb(239, 239, 239);

                    th {
                        min-width: 45px;
                        font-size: 0.7rem;
                        color: rgb(122, 122, 122);
                        padding: 7px 10px;
                    }
                }

                tbody {
                    td {
                        min-width: 45px;
                        font-size: 0.82rem;
                        color: var(--color-purple);
                        padding: 9px 10px;
                        border-bottom: 1px solid rgb(239, 239, 239);

                        .down {
                            fill: rgb(252, 44, 128);
                            color: white;
                            transform: rotate(180deg);
                        }

                        .up {
                            fill: rgb(5, 250, 135);
                            color: rgb(55, 0, 60);
                        }

                        .notAdded {
                            fill: rgb(122, 122, 122);
                            color: rgb(122, 122, 122);
                        }
                    }

                    .gw-number {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

@media (max-width: 1240px) {
    .page-wrapper-history {
        margin: 0 1%;
    }
}

@media (max-width: 992px) {
    .page-wrapper-history {
        .left-side {
            .title-history {
                margin-bottom: 20px;
                font-size: 1.55rem;
            }

            .title-history::before {
                display: block;
            }
        }
    }
}

@media (max-width: 670px) {
    .page-wrapper-history {
        .left-side {
            .table-wrapper {
                overflow-x: scroll;

                table {
                    thead {
                        th {
                            font-size: 0.55rem;
                        }
                    }

                    tbody {
                        td {
                            font-size: 0.67rem;
                        }
                    }
                }
            }
        }
    }
}