<div class="wrapper">
  <div class="goalkepper">
    <div class="player">
      <div class="kit">
        <img src="assets/img/kits/spursGK.webp" alt="" />
      </div>
      <div class="name">
        {{ players[3].name }}
      </div>
      <div class="club">
        {{ players[3].club }}
      </div>
    </div>
  </div>

  <div class="defence">
    <div class="player">
      <div class="kit">
        <img src="assets/img/kits/spurs.webp" alt="" />
      </div>
      <div class="name">
        {{ players[0].name }}
      </div>
      <div class="club">
        {{ players[0].club }}
      </div>
    </div>

    <div class="player">
      <div class="kit">
        <img src="assets/img/kits/spurs.webp" alt="" />
      </div>
      <div class="name">
        {{ players[0].name }}
      </div>
      <div class="club">
        {{ players[0].club }}
      </div>
    </div>

    <div class="player">
      <div class="kit">
        <img src="assets/img/kits/spurs.webp" alt="" />
      </div>
      <div class="name">
        {{ players[0].name }}
      </div>
      <div class="club">
        {{ players[0].club }}
      </div>
    </div>

    <div class="player">
      <div class="kit">
        <img src="assets/img/kits/spurs.webp" alt="" />
      </div>
      <div class="name">
        {{ players[0].name }}
      </div>
      <div class="club">
        {{ players[0].club }}
      </div>
    </div>

    <div class="player">
      <div class="kit">
        <img src="assets/img/kits/spurs.webp" alt="" />
      </div>
      <div class="name">
        {{ players[0].name }}
      </div>
      <div class="club">
        {{ players[0].club }}
      </div>
    </div>
  </div>

  <div class="midfield">
    <div class="player">
      <div class="kit">
        <img src="assets/img/kits/spurs.webp" alt="" />
      </div>
      <div class="name">
        {{ players[0].name }}
      </div>
      <div class="club">
        {{ players[0].club }}
      </div>
    </div>

    <div class="player">
      <div class="kit">
        <img src="assets/img/kits/spurs.webp" alt="" />
      </div>
      <div class="name">
        {{ players[0].name }}
      </div>
      <div class="club">
        {{ players[0].club }}
      </div>
    </div>

    <div class="player">
      <div class="kit">
        <img src="assets/img/kits/spurs.webp" alt="" />
      </div>
      <div class="name">
        {{ players[0].name }}
      </div>
      <div class="club">
        {{ players[0].club }}
      </div>
    </div>

    <div class="player">
      <div class="kit">
        <img src="assets/img/kits/spurs.webp" alt="" />
      </div>
      <div class="name">
        {{ players[0].name }}
      </div>
      <div class="club">
        {{ players[0].club }}
      </div>
    </div>

    <div class="player">
      <div class="kit">
        <img src="assets/img/kits/spurs.webp" alt="" />
      </div>
      <div class="name">
        {{ players[0].name }}
      </div>
      <div class="club">
        {{ players[0].club }}
      </div>
    </div>
  </div>

  <div class="attack">
    <div class="player">
      <div class="kit">
        <img src="assets/img/kits/spurs.webp" alt="" />
      </div>
      <div class="name">
        {{ players[0].name }}
      </div>
      <div class="club">
        {{ players[0].club }}
      </div>
    </div>

    <div class="player">
      <div class="kit">
        <img src="assets/img/kits/spurs.webp" alt="" />
      </div>
      <div class="name">
        {{ players[0].name }}
      </div>
      <div class="club">
        {{ players[0].club }}
      </div>
    </div>

    <div class="player">
      <div class="kit">
        <img src="assets/img/kits/spurs.webp" alt="" />
      </div>
      <div class="name">
        {{ players[0].name }}
      </div>
      <div class="club">
        {{ players[0].club }}
      </div>
    </div>
  </div>

  <div class="subs">
    <div class="player">
      <div class="position">GKP</div>
      <div class="kit">
        <img src="assets/img/kits/spurs.webp" alt="" />
      </div>
      <div class="name">
        {{ players[0].name }}
      </div>
      <div class="club">
        {{ players[0].club }}
      </div>
    </div>

    <div class="player">
      <div class="position">GKP</div>
      <div class="kit">
        <img src="assets/img/kits/spurs.webp" alt="" />
      </div>
      <div class="name">
        {{ players[0].name }}
      </div>
      <div class="club">
        {{ players[0].club }}
      </div>
    </div>

    <div class="player">
      <div class="position">GKP</div>
      <div class="kit">
        <img src="assets/img/kits/spurs.webp" alt="" />
      </div>
      <div class="name">
        {{ players[0].name }}
      </div>
      <div class="club">
        {{ players[0].club }}
      </div>
    </div>

    <div class="player">
      <div class="position">GKP</div>
      <div class="kit">
        <img src="assets/img/kits/spurs.webp" alt="" />
      </div>
      <div class="name">
        {{ players[0].name }}
      </div>
      <div class="club">
        {{ players[0].club }}
      </div>
    </div>
  </div>
</div>
