.wrapper {
  background-image: url("../../assets/img/pitch.svg");
  height: 1000px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-bottom: 20px;

  .goalkepper {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    font-weight: bold;

    .player {
      width: 90px;

      .kit {
        text-align: center;

        img {
          height: 100px;
          width: 90px;
          margin-bottom: 10px;
        }
      }

      .name {
        text-align: center;
        background-color: #37003c;
        color: white;
      }

      .club {
        text-align: center;
        background-color: white;
        color: #37003c;
      }
    }
  }

  .defence {
    height: 10%;
    display: inline-block;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    font-weight: bold;
    width: 800px;
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;

    .player {
      width: 90px;

      .kit {
        text-align: center;

        img {
          height: 100px;
          width: 90px;
          margin-bottom: 10px;
        }
      }

      .name {
        text-align: center;
        background-color: #37003c;
        color: white;
      }

      .club {
        text-align: center;
        background-color: white;
        color: #37003c;
      }
    }
  }

  .midfield {
    height: 10%;
    display: inline-block;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    font-weight: bold;
    width: 800px;
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;

    .player {
      width: 90px;

      .kit {
        text-align: center;

        img {
          height: 100px;
          width: 90px;
          margin-bottom: 10px;
        }
      }

      .name {
        text-align: center;
        background-color: #37003c;
        color: white;
      }

      .club {
        text-align: center;
        background-color: white;
        color: #37003c;
      }
    }
  }

  .attack {
    height: 10%;
    display: inline-block;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    font-weight: bold;
    width: 800px;
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;

    .player {
      width: 90px;

      .kit {
        text-align: center;

        img {
          height: 100px;
          width: 90px;
          margin-bottom: 10px;
        }
      }

      .name {
        text-align: center;
        background-color: #37003c;
        color: white;
      }

      .club {
        text-align: center;
        background-color: white;
        color: #37003c;
      }
    }
  }

  .subs {
    display: inline-block;
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    font-weight: bold;
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-self: center;
    background-color: rgba(114, 207, 159, 0.9);

    .player {
      width: 90px;

      .position {
        text-align: center;
        margin-bottom: 10px;
      }

      .kit {
        text-align: center;

        img {
          height: 100px;
          width: 90px;
          margin-bottom: 10px;
        }
      }

      .name {
        text-align: center;
        background-color: #37003c;
        color: white;
      }

      .club {
        text-align: center;
        background-color: white;
        color: #37003c;
      }
    }
  }
}

@media (max-width: 1240px) {
  .wrapper {
    background-position: center;
    background-size: 1400px 1000px;

    .subs {
      width: 1000px;
    }
  }
}

@media (max-width: 1000px) {
  .wrapper {
    .subs {
      width: 800px;
    }
  }
}

@media (max-width: 800px) {
  .wrapper {
    background-position: top;
    background-size: 1000px;
    height: 800px;

    .goalkepper {
      margin-top: 30px;
      padding-top: 20px;

      .player {
        .kit {
          text-align: center;

          img {
            height: 70px;
            width: 65px;
          }
        }
      }
    }

    .defence {
      margin-top: 70px;
      width: 600px;

      .player {
        .kit {
          text-align: center;

          img {
            height: 70px;
            width: 65px;
          }
        }
      }
    }

    .midfield {
      margin-top: 70px;
      width: 600px;

      .player {
        .kit {
          text-align: center;

          img {
            height: 70px;
            width: 65px;
          }
        }
      }
    }

    .attack {
      margin-top: 70px;
      width: 600px;

      .player {
        .kit {
          text-align: center;

          img {
            height: 70px;
            width: 65px;
          }
        }
      }
    }

    .subs {
      margin-top: 30px;
      width: 600px;

      .player {
        .kit {
          text-align: center;

          img {
            height: 70px;
            width: 65px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    font-size: 10px;
    background-size: 900px;
    height: 700px;

    .goalkepper {
      margin-top: 20px;
      .player {
        width: 60px;

        .kit {
          img {
            width: 60px;
            height: 60px;
          }
        }
      }
    }

    .defence {
      width: 500px;
      margin-top: 60px;
      .player {
        width: 60px;

        .kit {
          img {
            width: 60px;
            height: 60px;
          }
        }
      }
    }

    .midfield {
      width: 500px;
      margin-top: 60px;
      .player {
        width: 60px;

        .kit {
          img {
            width: 60px;
            height: 60px;
          }
        }
      }
    }

    .attack {
      width: 500px;
      margin-top: 60px;
      .player {
        width: 60px;

        .kit {
          img {
            width: 60px;
            height: 60px;
          }
        }
      }
    }

    .subs {
      width: 500px;
      margin-top: 30px;
      .player {
        width: 60px;

        .kit {
          img {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .wrapper {
    background-size: 900px;
    height: 700px;

    .goalkepper {
      padding-top: 0;
      margin-top: 30px;
      font-size: 10px;
    }

    .defence {
      padding-top: 0;
      margin-top: 60px;
      font-size: 10px;
      width: 360px;
    }

    .midfield {
      padding-top: 0;
      margin-top: 60px;
      font-size: 10px;
      width: 360px;
    }

    .attack {
      padding-top: 0;
      margin-top: 60px;
      font-size: 10px;
      width: 360px;
    }

    .subs {
      padding-top: 10px;
      margin-top: 30px;
      font-size: 10px;
      width: 360px;
    }
  }
}
