.modal-content {
    border: none;

    .modal-header {
        padding: 30px 20px;
        border: none;
        position: relative;
        background-position: right top, 0px center, 0px center;
        background-repeat: no-repeat;
        background-image: url("../../assets/img/modalBackground.png"),
            linear-gradient(rgba(255, 255, 255, 0) 10px,
                rgba(255, 255, 255, 0.2) 30px,
                white 60px),
            linear-gradient(to right, rgb(2, 239, 255), rgb(98, 123, 255));

        .modal-title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .btn-close {

            position: absolute;
            left: 90%;
        }
    }

    .modal-body {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .switch,
        .info {
            width: 100%;
            border: none;
        }

        .switch {
            background-color: rgb(150, 60, 255);
            display: block;
        }

        .cancel {
            background-color: rgb(150, 60, 255);
        }

        .info {
            color: var(--color-purple);
            background-image: linear-gradient(to right,
                    rgb(0, 255, 135),
                    rgb(2, 239, 255));
        }
    }
}

.loading {
    height: 65dvh;
    display: flex;
    align-items: center;
    justify-content: center;

    .loading-react {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.error {
    padding-top: 10px;
    padding-bottom: 10px;
    color: red;
    font-weight: 600;
}

.title-pick {
    display: flex;
    align-items: center;
    height: 160px;
    color: var(--color-purple-second);
    font-size: 1.7rem;
    font-weight: 700;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10px;
    display: flex;
    gap: 5px;

    p {
        margin: 0;
    }
}

.down {
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: rgba(107, 107, 107, 0.08) 0px 8px 12px 0px;
    overflow: hidden;

    .save-team {
        width: 40%;
        margin-left: 30%;
        margin-bottom: 20px;
        font-size: 0.8rem;
        border-radius: 3px;
        background-color: rgba(150, 60, 255);
        border: none;
        padding-top: 12px;
        padding-bottom: 12px;
        font-weight: 600;
        color: white;
    }

    .save-team:disabled {
        border: none;
        padding: 10px;
        border-radius: 3px;
        color: rgb(84, 84, 84);
        font-weight: 600;
        background-color: rgb(234, 233, 236);
    }

    .update-message {
        text-align: center;
        font-size: 0.9rem;
        padding: 0.3rem 1.5rem;
        border-radius: 3px;
        background-color: var(--color-purple-second);
        color: rgb(0, 255, 135);
        display: block;
        margin-bottom: 20px;
    }

    .upper-wrapper {
        background-repeat: no-repeat;
        background-position: 0px center, right top, 0px center;
        background-image: linear-gradient(rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.5) 100px, white 200px), url(../../assets/img/pattern.png), linear-gradient(to right, rgb(2, 239, 255), rgb(98, 123, 255));
        height: 200px;
        border-radius: 6px;
        text-align: center;
        padding: 15px;

        .control-wrapper {
            background: rgba(255, 255, 255, 0.6);
            box-shadow: rgba(107, 107, 107, 0.32);
            border-radius: 6px;
            padding-left: 10px;
            padding-right: 10px;

            .control-headline {
                padding: 0.2rem 1.5rem;
                margin-left: 10px;
                margin-right: 10px;
                border-radius: 0px 0px 1rem 1rem;
                background-color: var(--color-purple);
                border-top: 1px solid;
                border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(239, 239, 239) 50%, rgba(255, 255, 255, 0) 100%);
                border-image-slice: 1;

                .gameweek {
                    background-image: linear-gradient(to right, rgb(0, 255, 135), rgb(2, 239, 255));
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: 500;
                }
            }

            .timeline {
                color: var(--color-purple-second);
                padding: 10px 5px;
                margin-left: 20px;
                margin-right: 20px;
                border-bottom: 1px rgb(239, 239, 239) solid;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;

                .week {

                    font-size: 1rem;
                    font-weight: 500;
                }

                .time {

                    font-size: 1.1em;
                    font-weight: 700;
                }
            }
        }

        .info {
            text-align: center;
            font-size: 0.9rem;
            padding: 0.3rem 1.5rem;
            border-radius: 3px;
            background-color: var(--color-purple-second);
            color: rgb(0, 255, 135);
            display: inline-block;
            margin-top: 30px;
        }
    }

    .pitch-wrapper {
        background-image: url("../../assets/img/pitch.svg");
        height: 1000px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: flex;
        flex-direction: column;
        font-size: 0.75rem;
        margin-bottom: 20px;

        .goalkepper {
            height: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 70px;
            font-weight: bold;

            .player {
                cursor: pointer;
                padding-left: 2%;
                padding-right: 2%;

                .kit {
                    text-align: center;

                    img {
                        height: 100px;
                        width: 90px;
                        margin-bottom: 10px;
                    }
                }

                .name {
                    text-align: center;
                    background-color: var(--color-purple-second);
                    color: white;
                    min-width: 60px;
                    padding-left: 1px;
                    padding-right: 1px;
                }

                .club {
                    text-align: center;
                    background-color: white;
                    color: var(--color-purple-second);
                    min-width: 60px;
                    padding-left: 1px;
                    padding-right: 1px;
                }
            }
        }

        .defence {
            height: 10%;
            margin-top: 110px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding-top: 10px;
            font-weight: bold;
            width: 800px;
            padding-left: 10px;
            padding-right: 10px;
            align-self: center;

            .player {
                cursor: pointer;
                padding-left: 2%;
                padding-right: 2%;

                .kit {
                    text-align: center;

                    img {
                        height: 100px;
                        width: 90px;
                        margin-bottom: 10px;
                    }
                }

                .name {
                    text-align: center;
                    background-color: var(--color-purple-second);
                    color: white;
                    min-width: 60px;
                    padding-left: 1px;
                    padding-right: 1px;
                }

                .club {
                    text-align: center;
                    background-color: white;
                    color: var(--color-purple-second);
                    min-width: 60px;
                    padding-left: 1px;
                    padding-right: 1px;
                }
            }
        }

        .midfield {
            height: 10%;
            margin-top: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding-top: 10px;
            font-weight: bold;
            width: 800px;
            padding-left: 10px;
            padding-right: 10px;
            align-self: center;

            .player {
                cursor: pointer;
                padding-left: 2%;
                padding-right: 2%;

                .kit {
                    text-align: center;

                    img {
                        height: 100px;
                        width: 90px;
                        margin-bottom: 10px;
                    }
                }

                .name {
                    text-align: center;
                    background-color: var(--color-purple-second);
                    color: white;
                    min-width: 60px;
                    padding-left: 1px;
                    padding-right: 1px;
                }

                .club {
                    text-align: center;
                    background-color: white;
                    color: var(--color-purple-second);
                    min-width: 60px;
                    padding-left: 1px;
                    padding-right: 1px;
                }
            }
        }

        .attack {
            height: 10%;
            margin-top: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding-top: 10px;
            font-weight: bold;
            width: 800px;
            padding-left: 10px;
            padding-right: 10px;
            align-self: center;

            .player {
                cursor: pointer;
                padding-left: 2%;
                padding-right: 2%;

                .kit {
                    text-align: center;

                    img {
                        height: 100px;
                        width: 90px;
                        margin-bottom: 10px;
                    }
                }

                .name {
                    text-align: center;
                    background-color: var(--color-purple-second);
                    color: white;
                    min-width: 60px;
                    padding-left: 1px;
                    padding-right: 1px;
                }

                .club {
                    text-align: center;
                    background-color: white;
                    color: var(--color-purple-second);
                    min-width: 60px;
                    padding-left: 1px;
                    padding-right: 1px;
                }
            }
        }

        .subs {
            margin-top: 66px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding-top: 10px;
            font-weight: bold;
            width: 800px;
            padding: 25px;
            align-self: center;
            background-color: rgba(114, 207, 159, 0.9);

            .player {
                cursor: pointer;
                padding-left: 2%;
                padding-right: 2%;

                .position-pick {
                    text-align: center;
                    margin-bottom: 10px;
                }

                .kit {
                    text-align: center;

                    img {
                        height: 100px;
                        width: 90px;
                        margin-bottom: 10px;
                    }
                }

                .name {
                    text-align: center;
                    background-color: var(--color-purple-second);
                    color: white;
                    min-width: 60px;
                    padding-left: 1px;
                    padding-right: 1px;
                }

                .club {
                    text-align: center;
                    background-color: white;
                    color: var(--color-purple-second);
                    min-width: 60px;
                    padding-left: 1px;
                    padding-right: 1px;
                }
            }
        }
    }
}

@media (max-width: 1560px) {
    .down {
        .pitch-wrapper {
            background-position: center;
            background-size: 1400px 1000px;
        }
    }
}

@media (max-width: 992px) {
    .title-pick {
        margin-left: 2%;
        margin-right: 2%;
    }

    .down {
        margin-left: 2%;
        margin-right: 2%;

        .save-team {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
    }
}

@media (max-width: 800px) {
    .down {
        .pitch-wrapper {
            background-position: top;
            background-size: 1000px;
            height: 757px;

            .goalkepper {
                margin-top: 30px;
                padding-top: 20px;

                .player {
                    .kit {
                        text-align: center;

                        img {
                            height: 70px;
                            width: 65px;
                        }
                    }
                }
            }

            .defence {
                margin-top: 70px;
                width: 670px;

                .player {
                    .kit {
                        text-align: center;

                        img {
                            height: 70px;
                            width: 65px;
                        }
                    }
                }
            }

            .midfield {
                margin-top: 70px;
                width: 670px;

                .player {
                    .kit {
                        text-align: center;

                        img {
                            height: 70px;
                            width: 65px;
                        }
                    }
                }
            }

            .attack {
                margin-top: 70px;
                width: 670px;

                .player {
                    .kit {
                        text-align: center;

                        img {
                            height: 70px;
                            width: 65px;
                        }
                    }
                }
            }

            .subs {
                margin-top: 50px;
                width: 600px;
                padding: 10px;

                .player {
                    .kit {
                        text-align: center;

                        img {
                            height: 70px;
                            width: 65px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 670px) {
    .down {
        .pitch-wrapper {
            font-size: 0.625rem;
            background-size: 900px;
            height: 666px;

            .goalkepper {
                margin-top: 20px;

                .player {
                    .kit {
                        img {
                            width: 60px;
                            height: 60px;
                        }
                    }

                    .position-pick {
                        padding: 2px;
                    }
                }
            }

            .defence {
                width: 510px;
                margin-top: 60px;

                .player {
                    .kit {
                        img {
                            width: 60px;
                            height: 60px;
                        }
                    }

                    .position-pick {
                        padding: 2px;
                    }
                }
            }

            .midfield {
                width: 510px;
                margin-top: 60px;

                .player {
                    .kit {
                        img {
                            width: 60px;
                            height: 60px;
                        }
                    }

                    .position-pick {
                        padding: 2px;
                    }
                }
            }

            .attack {
                width: 510px;
                margin-top: 60px;

                .player {
                    .kit {
                        img {
                            width: 60px;
                            height: 60px;
                        }
                    }

                    .position-pick {
                        padding: 2px;
                    }
                }
            }

            .subs {
                width: 490px;

                .player {
                    .kit {
                        img {
                            width: 60px;
                            height: 60px;
                        }
                    }

                    .position-pick {
                        padding: 2px;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .down {
        .upper-wrapper {
            .control-wrapper {
                .timeline {
                    margin: 0;

                    .week {
                        font-size: 0.7rem;
                        font-weight: 500;
                    }

                    .time {

                        font-size: 0.8em;
                        font-weight: 700;
                    }
                }
            }
        }

        .pitch-wrapper {
            background-size: 610px;
            height: 480px;

            .goalkepper {
                padding-top: 40px;
                margin-top: 0px;
                font-size: 0.625rem;

                .player {
                    padding-left: 3px;
                    padding-right: 3px;

                    .kit {
                        img {
                            width: 35px;
                            height: 40px;
                        }
                    }
                }
            }

            .defence {
                padding-top: 0;
                margin-top: 60px;
                font-size: 0.625rem;
                width: 340px;

                .player {
                    padding-left: 3px;
                    padding-right: 3px;

                    .kit {
                        img {
                            width: 35px;
                            height: 40px;
                        }
                    }
                }
            }

            .midfield {
                padding-top: 0;
                margin-top: 40px;
                font-size: 0.625rem;
                width: 340px;

                .player {
                    padding-left: 3px;
                    padding-right: 3px;

                    .kit {
                        img {
                            width: 35px;
                            height: 40px;
                        }
                    }
                }
            }

            .attack {
                padding-top: 0;
                margin-top: 40px;
                font-size: 0.625rem;
                width: 360px;

                .player {
                    padding-left: 3px;
                    padding-right: 3px;

                    .kit {
                        img {
                            width: 35px;
                            height: 40px;
                        }
                    }
                }
            }

            .subs {
                padding: 5px 0;
                margin-top: 29px;
                font-size: 0.625rem;
                width: 330px;

                .player {
                    padding-left: 3px;
                    padding-right: 3px;

                    .kit {
                        img {
                            width: 35px;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }
}