<div class="wrapper">
  <div class="goalkepper">
    <div class="player">
      <div class="kit">
        <img src="{{ user[0].goalkeeper[0].kit_src }}" alt="" />
      </div>
      <div class="name">
        {{ user[0].goalkeeper[0].name }}
      </div>
      <div class="club">
        {{ user[0].goalkeeper[0].club }}
      </div>
    </div>
  </div>

  <div class="defence">
    <div class="player" *ngFor="let player of user[0].defence">
      <div class="kit">
        <img src="{{ player.kit_src }}" alt="" />
      </div>
      <div class="name">
        {{ player.name }}
      </div>
      <div class="club">
        {{ player.club }}
      </div>
    </div>
  </div>

  <div class="midfield">
    <div class="player" *ngFor="let player of user[0].midfield">
      <div class="kit">
        <img src="{{ player.kit_src }}" alt="" />
      </div>
      <div class="name">
        {{ player.name }}
      </div>
      <div class="club">
        {{ player.club }}
      </div>
    </div>
  </div>

  <div class="attack">
    <div class="player" *ngFor="let player of user[0].attack">
      <div class="kit">
        <img src="{{ player.kit_src }}" alt="" />
      </div>
      <div class="name">
        {{ player.name }}
      </div>
      <div class="club">
        {{ player.club }}
      </div>
    </div>
  </div>

  <div class="subs">
    <div class="player" *ngFor="let player of user[0].subs">
      <div class="position">{{ player.position.toUpperCase() }}</div>
      <div class="kit">
        <img src="{{ player.kit_src }}" alt="" />
      </div>
      <div class="name">
        {{ player.name }}
      </div>
      <div class="club">
        {{ player.club }}
      </div>
    </div>
  </div>
</div>
